.m-rect-dialog label {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
}

.m-rect-dialog .u-input {
    resize: none;
    padding:8px 10px;
    font-family: var(--mono-font);
    font-size: 14px;
}

.m-rect-dialog__content{
    margin-bottom:8px;
}

.m-rect-dialog .tool_horizontal_rect {
    margin-top: 10px;
}

.toolbar_button{
    display: flex;
    justify-content: center;
    gap: 10px;
}
